<div class="card">
    <form (ngSubmit)="editProduct()" method="POST">
        <div class="card-header">
            {{title}} {{product.productName}}
        </div>
        <div class="card-body">
            <table class="table">
                <tbody>
                    <tr>
                        <td><label>Product Id</label></td>
                        <td><input type="text" name="p_id" [value]="product.productId" [(ngModel)]="editedProduct.productId"></td>
                    </tr>
                    <tr>
                        <td><label>Product Name</label></td>
                        <td><input type="text" name="p_name" [value]="product.productName" [(ngModel)]="editedProduct.productName"></td>
                    </tr>
                    <tr>
                        <td><label>Product Code</label></td>
                        <td><input type="text" name="p_code" [value]="product.productCode" [(ngModel)]="editedProduct.productCode"></td>
                    </tr>
                    <tr>
                        <td><label>Product Date</label></td>
                        <td><input type="text" name="p_date" [value]="product.releaseDate" [(ngModel)]="editedProduct.releaseDate"></td>
                    </tr>
                    <tr>
                        <td><label>Product Description</label></td>
                        <td><input type="text" name="p_desc" [value]="product.description" [(ngModel)]="editedProduct.description"></td>
                    </tr>
                    <tr>
                        <td><label>Product Price</label></td>
                        <td><input type="text" name="p_price" [value]="product.price" [(ngModel)]="editedProduct.price"></td>
                    </tr>
                    <tr>
                        <td><label>Product Star Rating</label></td>
                        <td><input type="text" name="p_rating" [value]="product.starRating" [(ngModel)]="editedProduct.starRating"></td>
                    </tr>
                    <tr>
                        <td><label>Product Image URL</label></td>
                        <td><input type="text" name="p_image" [value]="product.imageUrl" [(ngModel)]="editedProduct.imageUrl"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Edit"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </form>
</div>